body {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
    background: linear-gradient(to bottom right, #dcb2fb, #7f42b4);
}


#header, #content, #foot-credits {
    flex: 1;
}


#header {
    display: flex;
    justify-content: center;
}

#title-img {
    height: auto;
    width: 80%;
    margin: 30px;
}


#foot-credits {
    width: 100%;
    padding: 26px;
    text-align: center;
    color: #FFFCFA;
    background-color: #393939;
}

#foot-credits img {
    align-self: center;
    margin-bottom: -1vw;
    height: auto;
    width: 20vw;
}

.linea-negra {
    height: 2px;
    background-color: #000;
    margin: 10px 0;
    border: none;
}

.roulette-container {
    text-align: center;
    opacity: 0;
}

.initial-content {
    align-items: center;
    text-align: center;
}

.initial-content p {
    font-size: 30px;
}

.play-button {
    border: 3px solid rgb(102, 0, 117);
    border-radius: 10px;
    width: 50vw;
    height: 5vw;
    background-color: rgb(102, 0, 117);
    color: white;
    font-size: 40px;
    transition: background-color 0.3s ease-out;
}

.play-button:hover {
    border: 3px solid rgb(102, 0, 117);
    background-color: white;
    color: rgb(102, 0, 117);
    transition: background-color 0.3s ease-out;
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #333;
    position: relative;
    overflow: hidden;
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(0.33, 1, 0.68, 1);
}

.section {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0% 100%;
    text-align: center;
    line-height: 150px;
    font-size: 24px;
}

.section:nth-child(1) { transform: rotate(0deg) skewY(-30deg); }
.section:nth-child(2) { transform: rotate(60deg) skewY(-30deg); }
.section:nth-child(3) { transform: rotate(120deg) skewY(-30deg); }
.section:nth-child(4) { transform: rotate(180deg) skewY(-30deg); }
.section:nth-child(5) { transform: rotate(240deg) skewY(-30deg); }
.section:nth-child(6) { transform: rotate(300deg) skewY(-30deg); }

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
